.app-name{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 25px;
}
input{
  width: 100%;
}

.todo-item{
  text-align: left;
}
.ss-button{
  min-width: 80px;
}

.ss-row{
  margin: 10px 5px;
}